#########################
# OS
#########################

.DS_Store
Thumbs.db

#########################
# Python
#########################

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.ipynb_checkpoints/

#########################
# Virtual Environment
#########################

venv/
.env
.env.*

#########################
# Data / Dataset
#########################

data/
video/
output/
Backup/

*.csv
*.tsv
*.json
*.npz
*.npy

#########################
# Models
#########################

*.pt
*.pth
*.onnx
*.ckpt
*.h5

#########################
# Media files
#########################

*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

#########################
# Documents
#########################

*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.xls
*.xlsx

#########################
# Archives
#########################

*.zip
*.tar
*.gz
*.7z
*.rar

#########################
# Docker runtime
#########################

docker/input/
docker/output/

#########################
# IDE
#########################

.vscode/
.idea/

#########################
# Backup
#########################

Backup/
backup/